*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.logo h3{
    font-size: 45px;
    font-weight:bolder;
}
.color{
    color: #FD6E0A
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav .menu{
    list-style-type: none;
    display: flex;
    gap : 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: bold
}
header{
  background-color: #FFF8F3;
  padding-top: 50px;
}

nav{
    width: 60%;
    height: 7%;
    max-width: 1140px;
    max-height: 62px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
