*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.logo h3{
    font-size: 45px;
    font-weight:bolder;
}
.color{
    color: #FD6E0A
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav .menu{
    list-style-type: none;
    display: flex;
    gap : 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: bold
}
header{
  background-color: #FFF8F3;
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
  
}

nav{
    width: 60%;
    height: 7%;
    max-width: 1140px;
    max-height: 62px;
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner{
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#banner .banner-content h2{
    font-size: 45px;
    font-weight:600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px
}
#banner .banner-content{
    max-width: 585px;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;

}
#about .about-content{
    width: 60%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.about-me{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.about-me h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.about-me p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

#about .about-content .data{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.about-content .data p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-content .data h4{
    font-size: 20x;
}

.skill-me h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.skill-me p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
.skill-card{
    display: flex;
    gap: 24px;
}
.skill-card .inside{
    padding: 30px;
    max-width: 267px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 #0000002a;
}
.inside h3{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.inside p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    text-align: left;
}
.inside img{
    max-width: 44px;
    margin-bottom: 30px;
}
#skills .ok{
    width: 60%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills{
    padding-top: 130px;
}


#resume{
    padding-top: 130px;
}

#resume .section-heading{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 113px;
}

.resume-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    max-width: 1140px;
    margin: 0 auto;
    gap: 71px;
}

.section-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #474747;
}

.resume-card{
    max-width: 511px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-card1{
    max-width: 511px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

.resume-card1 p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

.resume-card h4{
    font-size: 20px;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card1 h4{
    font-size: 20px;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card1 h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

#contact{
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 230px;
    padding-right: 230px;
    margin-top: 113px;
    background-color: #FFF8F3;
}

.con-msg{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.con p{
    font-size: 16px;
    color: #474757;
    line-height: 28px;
    margin-bottom: 30px;
}

.details{
    display: flex;
}
